body h1 {
    text-align: center;
    color: rgb(255, 255, 255) ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid rgb(92, 69, 100) 2px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(164, 11, 184), rgb(255, 22, 61), rgb(115, 2, 138));
}

body {
    background-color: rgb(66, 7, 57);
}

section {
    background-color: rgb(66, 7, 57);
    margin: 0 auto;
}

.paper:hover{
    transform: scale(1.1);
    background: linear-gradient(150deg, rgb(85, 6, 96), rgb(97, 4, 19), rgb(73, 5, 87));
    box-shadow: black;
}

input[type="email"]:valid { 
    border-color: rgb(0, 255, 0);
}

input[type="email"]:invalid {
    border-color: red;
}

.paper {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    border-radius: 1.5rem;
    background:linear-gradient(150deg, rgb(138, 11, 155), rgb(156, 14, 37), rgb(117, 11, 139));
    height: 400px;
    width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 50px;
}

.text-message {
    display: flex;
}

footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: floralwhite;
    background: linear-gradient(90deg, rgb(164, 11, 184), rgb(255, 22, 61), rgb(115, 2, 138));
    text-align: center;
    border: solid rgb(0, 8, 72) 3px;
    border-radius: 50px;
    margin-top: 50px;
}

.btn {
    background: linear-gradient(40deg, rgb(190, 16, 213), rgb(246, 22, 59), rgb(216, 21, 255));
    border-radius: 5rem;
    padding: 10px;
    border: solid white 1.5px;
}

.btn:hover {
    transform: scale(1.1);
    background: linear-gradient(40deg, rgb(185, 17, 207), rgb(195, 19, 49), rgb(163, 17, 193));
}

.button7 {
    color: white;
    text-decoration: none;
    background: rgb(100, 42, 42);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 2rem;
    top: 29px;
}

.button7:hover {
    background: rgb(120, 20, 20);
    transform: scale(11);
}

.button7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        red, blue, deeppink, blue,
         red, blue, deeppink, blue
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite
}

@keyframes glowing {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
