.topnav {
    text-align: center;
    color: rgb(255, 255, 255) ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid rgb(92, 69, 100) 2px;
    border-radius: 50px;
    background: linear-gradient(80deg, rgb(14, 37, 73), rgb(121, 11, 155), rgb(9, 55, 118));
}

h2 {
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.ex-manteni {
    color: rgb(1, 1, 1);
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: none;
}

.ex-manteni li{
    display: block;
}


.topnav a {
    display: inline;
    color: rgb(255, 255, 255);
    margin-left: 10rem;
    text-decoration: none;
    font-size: 14px;
}

.topnav :hover {
    background-color: #4e1976;
    color: rgb(10, 10, 10);
}

.topnav a.active {
    color: rgb(249, 249, 249);
    text-align: center;
}

.contenedors {
	width: 97%;
	max-width:1000px;
	margin: auto;
}

h3 {
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#button1 {
    background-color: #fcfcfc;
    text-decoration: none;
    padding: 10px;
    color: rgb(7, 23, 103);
}

.softwares {
    color: rgb(0, 0, 0);
}

#logo {
    display: inline;
}

#logo:hover {
    transition-duration: .9s;
}

#button2 {
    border-radius: 50px;
    text-decoration: none;
        padding: 2px;
    color: rgb(126, 28, 28);
    font-family: 'Times New Roman', Times, serif;
}

#button2:hover{
    color: #6a0d0d;
    transition-duration: .9s;
}

#button3 {
    margin-left: 300px;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(21, 91, 153);
}

#button3:hover{
    background-color: silver;
    color: #090657;
    transition-duration: .9s;
}

footer{
    text-align: center;
    color: rgb(255, 255, 255) ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid rgb(92, 69, 100) 2px;
    border-radius: 50px;
    background: linear-gradient(80deg, rgb(14, 37, 73), rgb(121, 11, 155), rgb(9, 55, 118));
}

.btn {
    margin-top: 1px;
}

.img3 {
    margin-left: 25px;
}

